div {
    border: 1px solid red;
    height: 300px;
    width: 200px;
}

.relative-div {
    position: relative;
    top: 30px;
    left: 30px;
    background: lightskyblue;
}

.fixed-div {
    background: limegreen;
    width: 600px;
    height: 100px;
    position: fixed;
    opacity: 0.3;
    top: 40px;
    left: 200px;
}

.sticky-div {
    background: lightsteelblue;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 100px;
}