.container {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 100px 0px 0px 100px;
    /* box-shadow: horizontal vertikal blur ngjyra; */
    box-shadow: 14px -14px 2px red;
}