@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

.first {
    border: 1px solid red;
    background: red;
    width: 150px;
    height: 150px;
}

.second {
    border: 1px solid green;
    background: green;
    width: 150px;
    height: 150px;
    /* display: none; -> Remove element */
    /* visibility: visible; -> Element is there, but we can't see it */   
}

p {
    font-size: 36px;
}

.first-paragraph {
    background-color: lightskyblue;
    font-family: 'Qahiri', sans-serif;
}

.second-paragraph {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.third-paragraph {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}